@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
body{
	-webkit-font-smoothing:antialiased;
}
h2{
	margin-bottom:15px;
	font-weight:400;
	font-size: 35pt;
	letter-spacing:-0.5px;
	color:#fff;
}
.btn-social-icon{
	margin-bottom:4px;
}
.jumbotron{
	position:relative;
	font-size:16px;
	color:#fff;
	color:rgba(255,255,255,0.75);
	/*text-align:center;*/
	border-radius:0;
	padding-top: 120px;
	padding-bottom:40px;
	/*background-image:-webkit-linear-gradient(left, #720e9e 0, #dd4b39 100%);
	background-image:-o-linear-gradient(left, #720e9e 0, #dd4b39 100%);
	background-image:linear-gradient(to right, #720e9e 0, #dd4b39 100%);*/
	margin: auto;
	background-size: 100%;
	background-repeat: repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff720e9e', endColorstr='#ffdd4b39', GradientType=1);
	}
.jumbotron h1{
	margin-bottom:15px;
	font-weight:500;
	letter-spacing:-0.5px;
	color:#fff;
}
.jumbotron p a,.jumbotron .jumbotron-links a{
	font-weight:500;
	color:#fff;
}
.jumbotron .jumbotron-links{
	margin-top:15px;
	margin-bottom:0;
	padding-left:0;
	list-style:none;
	font-size:14px;
	}
.jumbotron .jumbotron-links li{
	display:inline;
}
.jumbotron .jumbotron-links li+li{
	margin-left:20px;
}
.jumbotron .bottom{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:18px;
	background-color:rgba(0,0,0,0.2);
}
.crispy{
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.15);
}
.btn-cris{
	margin-top:10px;
	margin-bottom:10px;
	padding:10px 16px;
	font-size:inherit;
	font-weight:500;
	color:#cc6666;
	background-color: transparent;
	border-color:#cc6666;
	/*border-color:rgba(255,255,255,0.5);*/
	border-color: #cc6666;
	transition:all .5s ease-in-out;
	}
.btn-cris:hover{
	color:#fff;
	background-color: #cc6666;
	border-color:#cc6666;
}


.btn-outline{
	margin-top:15px;
	margin-bottom:15px;
	padding:18px 24px;
	font-size:inherit;
	font-weight:500;
	color:#fff;
	background-color:#cc6666;
	border-color:#fff;
	/*border-color:rgba(255,255,255,0.5);*/
	border-color: transparent;
	transition:all .5s ease-in-out;
	}
.btn-outline:hover,.btn-outline:active{
	color:#fff;
	background-color: transparent;
	border-color:#fff;
}
.header-cursos .titulo{
	font-style: normal; 
	line-height: 0.5;
}
.header-cursos .subtitulo{
	font-weight: 300;
	line-height: 1.3;
	font-size: 3.5rem;
	font-family: 'TripSerifCE';
}
.header-cursos .texto{
  font-style: normal;
  line-height: 1.6;
  font-size: 2.7rem;
}
.header-cursos .texto small{
	background-color: #767676;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 0.5rem;
}
.btn-cursos-inscricao{
	margin-top:15px;
	margin-bottom:15px;
	padding:18px 24px;
	font-size:inherit;
	font-weight:500;
	color:#fff;
	background-color:#767676;
	/*border-color:rgba(255,255,255,0.5);*/
	border-color: transparent;
	transition:all .5s ease-in-out;
}
.btn-cursos-inscricao:hover,.btn-cursos-inscricao:active{
	color:#fff;
	background-color: transparent;
	border-color:#fff;
	content: "Este é um botão";
}






.how-to{
	padding:20px;
	}
.how-to h2{
	text-align:center;
}
.how-to li{
	font-size:21px;
	line-height:1.7;
	margin-top:20px;
	}
.how-to li p{
	font-size:16px;
	color:#555;
}
.how-to code{font-size:85%;word-wrap:break-word;white-space:normal}
.links{margin:0;list-style:none;padding-left:0}
.links li{display:inline;padding:0 10px}
.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
.social-class li{margin-bottom:4px}
.social-class li:hover 
.social-hex{opacity:1}
.social-class li:hover code{background-color:#e8e8ee}
.social-class code{cursor:default}

.cristhumbnail{
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.cristhumbnail > span,
.cristhumbnail a > span {
  margin-right: auto;
  margin-left: auto;
}
a.cristhumbnail:hover,
a.cristhumbnail:focus,
a.cristhumbnail.active {
  border-color: #337ab7;
}
.cristhumbnail .caption {
  padding: 9px;
  margin-top: -4.0rem;
  color: #333;
}
.oque-nao-garantimos{
	padding-top: 6rem;
}
.cristhumbnail .caption p{
	color: #565656;
}
.oque-nao-garantimos .cristhumbnail{
	background-color: transparent;
}
